.note {
  --fg-gray: rgba(128,128,128,0.3);
  --bg-yellow: rgba(255,255,0,0.5);
  --bg-yellow-full: rgb(255,255,0);
  --size: 25px;
  position: absolute;
  z-index: 10;
  display: flex;
  margin: auto;
  left: 0;
}
.note.open {
  width: calc(100% - var(--size));
}
.note.right {
  left: unset;
  right: 0;
  z-index: 11;
  flex-flow: row-reverse;
}
.note__toggle {
  position: relative;
  display: block;
  background: var(--bg-yellow);
  font-size: 1em;
  width: var(--size);
  height: var(--size);
  color: var(--fg-gray);
}
.note__toggle i {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 14px;
}
.note__content {
  position: absolute;
  border: 1px dashed var(--fg-gray);
  left: var(--size);
  font-size: 12px;
  padding: 0.5em;
  margin: 0;
  background: var(--bg-yellow-full);
  opacity: 0.96;
}
.note__content.right {
  left: unset;
  right: var(--size);
}
.note__content.top {
  bottom: 0;
}
.note__content > p {
  padding: 0;
  margin: 0;
}
