.painter {
  --fg-grey: #999;
  --size-icon: 25px;
}
.painter--eraser {
  cursor: crosshair;
}
.painter--pencil {
  cursor: none;
}
.painter .toolbar {
  position: absolute;
  z-index: 2;
  cursor: default;
}
.painter .toolbar__icon {
  width: var(--size-icon);
  height: var(--size-icon);
  border: 1px solid var(--fg-grey);
  margin-bottom: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.painter .toolbar__icon--inactive {
  color: var(--fg-grey);
}
.painter .toolbar__colors {
  position: absolute;
  z-index: 1;
  left: 28px
}
.painter .toolbar__colors_hor {
  position: relative;
  display: inline-flex;
}
.painter .toolbar__colors--hide {
  display: none;
}
.painter .toolbar__color {
  display: inline-block;
  width: var(--size-icon);
  height: var(--size-icon);
  border: 1px solid #fff;
  margin-left: -1px;
}
